.breathe
  = form_for([recipe, comment]) do |f|
    = render "error_messages", target: comment
    .field
      = f.text_field :name, placeholder: "Name"
    .field
      = f.text_area :content, placeholder: "Comment here..."
    .actions
      = f.submit

