= form_for post, html: { class: 'form-horizontal', multipart: true }  do |f|
  = render "error_messages", target: post
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :ingredients
    = f.text_area :ingredients
  .field
    = file_field_tag "images[]", type: :file, multiple: true
  .field
    = f.label :published
    = f.check_box :published
  .field
    = f.label :permalink
    = f.text_field :permalink
  .field
    = f.label :tag_list
    = f.text_field :tag_list
  .actions
    = f.submit

