.card
  = link_to recipe do
    .card-image
      = image_tag recipe.primary_image
    .card-header
      = recipe.title
    .card-copy
      %p= raw recipe.content.truncate(100, separator: " ") if recipe.content
      = recipe.date

