!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = display_meta_tags
    = csrf_meta_tags
    %meta{charset: "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    - if Rails.env == 'production'
      = render :partial => 'shared/google_analytics'

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1459144461020057";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %script{:async => "", :defer => "", :src => "//assets.pinterest.com/js/pinit.js"}
    = render 'shared/nav_menu'
    = render "flashes"
    .outer-container
      = render 'shared/sidebar'
      .content-wrapper
        .dialog
          %div
            %h1 The page you were looking for doesn't exist.
            %p You may have mistyped the address or the page may have moved.
    = render 'shared/footer'
