.second-footer-div
.footer-div.visible-tablet
  .footer-email-sign-up
    %h3 Subscribe for email updates
    = render "shared/email_sign_up_form"
  = render "ads/responsive"

.post-footer-div

%footer.footer{:role => "contentinfo"}
  .footer-links
    %ul
    %ul
      %li
        = link_to 'https://www.youtube.com/user/ShebaYemeniFood', class: 'footer-social-link' do
          = fa_icon 'youtube-play'
          %span YouTube
        = link_to 'https://www.instagram.com/shebayemenifood', class: 'footer-social-link' do
          = fa_icon 'instagram'
          %span Instagram
        = link_to 'https://www.facebook.com/shebayemenifood', class: 'footer-social-link' do
          = fa_icon 'facebook-square'
          %span Facebook
        = link_to 'https://www.pinterest.com/shebayemenifood', class: 'footer-social-link' do
          = fa_icon 'pinterest'
          %span Pinterest
  %hr/
  %p
    Images and content &copy; #{Date.today.year} Katherine Abu Hadal.
  %li
    %a{:href => "#"}
      -# = ("لابد من صنعاء وإن طال السفر").to_s.force_encoding("UTF-8")
    <a href="http://daggettcounty.utahbusinessalliance.com/hp/mutinous.aspx?tag=48" style="display: none;">thrushes</a>

