.cards.primary-cards
  .logo-wrapper
    %center
      = link_to((image_tag "sheba-yemeni-food-logo.png", alt: "sheba-yemeni-food-logo"), root_path)
    .filters
      %h4 Search Recipes
      = form_tag({}, { method: :get, class: 'breathe form-inline' }) do
        .search-bar
          = text_field_tag(:search, h(params[:search]), { type: "search", placeholder: 'Search...' })
          = button_tag(type: "submit") do
            %i.fa.fa-search
          = link_to('Reset', url_for({ only_path: true, reset: true }))
      %h4 Sign up to receive email updates
      .breathe
        = render "shared/email_sign_up_form"


  = render "post", post: posts.first if posts.present?
