= form_for post, html: { class: 'form-horizontal', multipart: true }  do |f|
  = render "error_messages", target: post
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :ingredients
    = f.text_area :ingredients, class: "tall-text-area"
  .field
    = f.label :instructions
    = f.text_area :instructions, class: "tall-text-area"
  .field
    = file_field_tag "images[]", type: :file, multiple: true
  .field
    = f.label :permalink
    = f.text_field :permalink
  .field
    = f.label :tag_list
    = f.text_field :tag_list
  .field
    = f.label :ingredient_list
    = f.text_field :ingredient_list
  .field
    = f.label :category_list
    = f.text_field :category_list
  .actions
    = f.submit

