= form_for post, html: { class: 'form-horizontal', multipart: true }  do |f|
  = render "error_messages", target: post
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = file_field_tag "images[]", type: :file, multiple: true
  .field
    = f.label :permalink
    = f.text_field :permalink
  .actions
    = f.submit

