= form_for post, html: { class: 'form-horizontal', multipart: true }  do |f|
  = render "error_messages", target: post
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :ingredients
    = f.text_area :ingredients, class: "tall-text-area"
  .field
    = f.label :instructions
    = f.text_area :instructions, class: "tall-text-area"
  .field
    = file_field_tag "images[]", type: :file, multiple: true
  .field
    = f.label :permalink
    = f.text_field :permalink
  .field
    = f.fields_for :video_link, f.object.video_link do |ff|
      = ff.label :english_link
      = ff.text_area :english_link
      = ff.label :arabic_link
      = ff.text_area :arabic_link
  .field
    = f.label :tag_list
    = f.text_field :tag_list, value: post.tag_list.join(", ")
  .field
    = f.label :ingredient_tag_list
    = f.text_field :ingredient_tag_list, value: post.ingredient_tag_list.join(", ")
  .field
    = f.label :category_tag_list
    = f.text_field :category_tag_list, value: post.category_tag_list.join(", ")
  .actions
    = f.submit

