.card
  = link_to post do
    .card-image
      = image_tag post.primary_image
    .card-header
      = post.title
    .card-copy
      %p= raw post.content.truncate(85, separator: " ") if post.content
  .stats-wrapper
    %span.date= post.date
    .stats
      %ul
        %li= pinterest_link(options = { media: request.protocol + request.host_with_port + post.primary_image.url, description: post.title, url: polymorphic_url(post) })
        %li= facebook_link(options = { url: polymorphic_url(post)} )

