= content_for :title, post.title

.post-image-wrapper
  = image_tag post.primary_image
  .social-buttons-overlay
    = pinterest_link(options = { media: (request.protocol + request.host_with_port + post.primary_image.url), description: post.title })
    = facebook_link(options = { url: polymorphic_url(post)} )

.image-info
  %h1= post.title
  %span
    = post.date
    |
    = link_to 'Edit', [:edit, post]
  .breathe= render post.tags
.inner-container
  %p= post.content
  %p= raw post.ingredients
  = raw post.video_link.english_link if post.video_link
  = render "ads/text"

%h2 Comments
= render "comments/form", post: post
- post.comments.parent_comments.each do |comment|
  = render comment
  %div{class: "child-comment"}= render comment.children

