.post-image-wrapper
  = image_tag post.primary_image
.image-info
  %h1
    = post.title
    .social-buttons
      = pinterest_link(options = { media: image_link(post), description: post.title })
      %span.facebook-wrapper= facebook_link(options = { url: polymorphic_url(post)} )

  -# .breathe= render post.tags
  %div
    = post.date
    - if current_user
      |
      = link_to 'Edit', [:edit, post]
.inner-container
  %p= post.content

  %h4 Ingredients
  %p= raw post.ingredients

  %h4 How to make
  %p= raw post.instructions

  = raw post.video_link.english_link if post.video_link
  = render "ads/text"

%h2 Comments
= render "comments/form", post: post
- post.comments.parent_comments.each do |comment|
  = render comment
  %div{class: "child-comment"}= render comment.children

:javascript
  $(function() {
    $('.reply-button').click(function(event) {
      event.preventDefault();
      $(this).parent().find('.reply-form').show();
    });
    $('.cancel-button').click(function(event) {
      event.preventDefault();
      $(this).parent().parent().hide();
    });
  });
