!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = display_meta_tags
    = csrf_meta_tags
    %meta{charset: "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    = javascript_tag do
      = yield(:javascripts)
    - if Rails.env == 'production'
      = render :partial => 'shared/google_analytics'

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1459144461020057";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %script{:async => "", :defer => "", :src => "//assets.pinterest.com/js/pinit.js"}
    = render 'shared/nav_menu'
    = render "flashes"
    .outer-container
      .logo-wrapper
        = link_to((image_tag "sheba-yemeni-food-logo.png", class: 'site-logo', alt: "sheba-yemeni-food-logo"), root_path)
        .filters
          -# %p I'm Katherine and I make Yemeni and other recipes in English and Arabic. I'm American but I learned most of these recipes living in Yemen for 3 years.
          .well.breathe.hidden-tablet
            %h4 Sign up to receive email updates
            %small Join over 1,000 other subscribers on my email list
            .sidebar-email-sign-up
              = render "shared/email_sign_up_form"
          .well.breathe.hidden-tablet
            %h4 Subscribe on Youtube
            %script{:src => "https://apis.google.com/js/platform.js"}
            .g-ytsubscribe{"data-channel" => "shebayemenifood", "data-count" => "default", "data-layout" => "full"}
            -# %h4 Follow on Instagram
            -# <a href="https://www.instagram.com/shebayemenifood/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
          .breathe.hidden-tablet
            = render "ads/display"

      .content-wrapper
        = yield
    = render 'shared/footer'
