!!!
%html
  %head
    %title= yield(:title).present? ? yield(:title) + " | Sheba Yemeni Food" : "Sheba Yemeni Food"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %script{:async => "", :defer => "defer", :src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}
  = javascript_tag do
    = yield(:javascripts)
    - if Rails.env == 'production'
      -# = render :partial => 'shared/google_analytics', :formats => [:js]

  %body
    = render "flashes"
    = render 'shared/nav_menu'
    .outer-container
      = yield
    = render 'shared/footer'
