!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = display_meta_tags
    = csrf_meta_tags

  %script{:async => "", :defer => "defer", :src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}
  = javascript_tag do
    = yield(:javascripts)
  - if Rails.env == 'production'
    = render :partial => 'shared/google_analytics'

  %body
    = render 'shared/nav_menu'
    = render "flashes"
    .outer-container
      = yield
    = render 'shared/footer'
